
@import'../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import'../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import'../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import'../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
    font-family: 'Roboto';
}

.background-header-about {
    width: 170rem;
    height: 30rem;
    background-color: #F35627;
    position: absolute;
    top: 800px;
    right: -600px;
    transform: rotate(-9deg)
}