.about-height {
    // height: 5vh;
    margin-top: 20rem;
    margin-bottom: 15rem;
    // margin: 25 0rem;
}

h4 {
    color: #2D3A8C;
}

i {
    font-size: 4rem;
    color: #F35627;
}

// .background-image-about {
//     width: 75rem;
//     height: 130rem;
//     position: absolute;
//     top: -550px;
//     right: 200px;
//     left: 0;
//     background-color: #ffd0b5;
//     transform: rotate(45deg); 
//     transform: rotate(-45deg); 
// }